/* ————————————— fonts ————————————— */
@font-face {
    font-family: "Varp";
    src: 
        url("fonts/VarpVariable.woff2"), format(truetype-variation);
        font-display: swap; 
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap") format("woff2");
    font-display: swap; 

}

p {
    font-family: "Inter";
    font-size: 1em;
    text-transform: lowercase;
}

.p-frame {
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid;
    padding: 20px;
    margin: 40px 20px 0 20px;
}

.p-accent-2 {
    font-family: "Varp";
    font-variation-settings: "slnt" 0, "wdth" 30;
    font-weight: normal;
    font-size: 5em;
    text-transform: uppercase;


}

.p-accent {


    position: absolute;

    opacity: 0;

    text-align: center;

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

    transform: translateY(20px);
}

.p-accent.p-active {
    opacity: 1;
    transform: translateY(-50px);
}

.aside {
    position: absolute;
    margin: 0 0 0 20px;
    left: 0;
}

.diving hgroup {
    margin: 10vw 5vw 70vw 25vw;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: "Varp";
    font-size: 40vw;
    font-weight: normal;
    text-align: center;
    font-variation-settings: "slnt" 0, "wdth" 6;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
}

h3 {
    font-family: "Varp";
    font-size: 3.4em;
    font-weight: normal;
    text-align: left;
    font-variation-settings: "slnt" 23, "wdth" 78;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
    letter-spacing: -3%;
    margin: 0 20px;
    /* display: flex; 
    flex-direction: column; */
    position: relative;
    z-index: 1;

}

.h3-inverce {
    font-variation-settings: "slnt" -16, "wdth" 78;
    margin: 0;

}

.span-diving {
    display: block;
    margin: 200px 0 0 0;
}

.span-diving-inverce {
    text-align: right;
}


h4 {
    font-family: "Varp";
    font-size: 4.5em;
    font-weight: normal;
    text-align: center;
    font-variation-settings: "slnt" 30, "wdth" 55;
    text-transform: uppercase;
    margin: 80px 0 0 0;
    line-height: 90%;
    letter-spacing: -3%;
}

.h4-inverce {
    font-variation-settings: "slnt" -30, "wdth" 55;
    margin: 0;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    /* text-align: center; */
    text-transform: uppercase;
    margin: 0;
    /* color: white; */

}

.marker {
    background-color: #FC709C;
    background: #FC709C;
}

.cover-text {
    font-size: 1.3em;
    font-weight: 100;
    text-transform: lowercase;
    margin: 0 30px 90px 20px;
}

span {
    font-family: "Varp";
}

::selection {
    background: black;
    color: #FC709C;
}

a {
    color: black;
}

a:hover {
    color: white;
}

/* ————————————— scroll animation ————————————— */

.sticky {
    position: sticky;
    top: 0;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}



/* ————————————— general tag ————————————— */
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

canvas {
    touch-action: none;
    display: block;

}

body {
    margin: 0;
    padding: 0;
    background-color: #FC709C;
    color: black;
}

header {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    color: white;
}

main {
    /* margin: 20px; */
    overflow-x: clip;

}   

.decision img {
    width: 60vw;
    position: absolute;
    z-index: 0;

}

/* ————————————— castom class ————————————— */

.hide {
    display: none;
}

.logo {
    width: 6.3em;
}

.schedule svg {
    display: block;
    margin: 50px 20px 0 20px ;
    width: 85vw;
}  

.kodex {
    height: 100vh;
    background-color: #ffffff;
    padding: 40px;
}

.kodex svg {
    position: absolute;
    display: block;
    /* margin: 50px 20px 0 20px ; */
    width: 170vw;
    top: 10100px;
}

#Group-36 {
    padding: 50px 0 0 0;
}

.logo-130 {
    width: 15em;

}

.ritm-130 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;

    text-align: center;
    height: 110vh;
    color: #ffffff;
    background-color: black;
}

/* ————————————— section ————————————— */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    height: 100vh;
    width: 100%;
    background-image: url("media/cover-background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.client-pain {
    height: 350vh;

    background: linear-gradient(
        to bottom,
        #FC709C,
        #ffffff
    );
}

.decision {
    height: 110vh;
    background-color:   #ffffff;
    background-image:   url("media/decision-image.png");
    background-size:    80vw;
    background-position:    45vw 10vh;
    background-repeat:  no-repeat;

}

.background {
    display: block;
    position: absolute;

    width: 80vw;
    margin: 40px 0 0 180px;
    color: black;
    z-index: -1;
}   

.background-mobile {
    display: none;
    /* position: absolute; */

    /* width: 100vw; */
    padding: 100px 0 0 30px;
    /* color: white; */
    /* z-index: -1; */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ——————— line animation (mobile) ——————— */

#background-mobile-line {
    animation: draw 6s linear forwards infinite;
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 10000;
    }

    99% {
        stroke-dashoffset: 0;
    }

    90% {
        stroke-dashoffset: 0;
    }

    0% {
        stroke-dashoffset: 10000;
    }
}

/* ————————————— email-form ————————————— */

.email-form {
    background-color: #FC709C;
    border: 2px solid;

    display: flex;
    flex-direction: column;
    margin: 0 0 7vw 0;

    width: 350px;
    gap: 10px;  
    padding: 20px;
    
    z-index: 1
}

.email-form button {
    border: none;
    width: 100%;
    padding: 10px 20px; 
    border-radius: 100px;
    text-wrap: nowrap;


    font-size: 1em; 
    background-color: transparent;
    border: 2px solid black;

}

.email-form button:hover {
    border: none;
    background-color:black;

    color: white;
    border: 2px solid transparent;
}

.email-form label {
    font-weight: 100;
}

.email-form label[for="input"]{
    font-size: 1.25em;
}


input:not([type="checkbox"]) {
    color: white;
    

    font-size: 1.2em;
    background-color: transparent;

    
    border: none;
    border-bottom: 2px solid black;    
    border-radius: 0px;

    padding: 3px;
    display: flex;
    width: 100%;
    margin: 6px 0 0 0; 
}

input::placeholder {    
    color: #5b5b5b;
}

input:focus-visible {
    outline: none;
}


/* ————————————— adaptive version ————————————— */

@media (max-width: 900px) {

    main {
        /* margin: 0; 
        width: 100%;
        height: 122vh; */
    }

    header {
        /* width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px 0 0; */
    }

    .logo {
        /* width: 25vw; */
    }
    
    .email-form {
        width: auto;
        margin: 0 15px 15px 15px; 
    }   

    .email-form label[for="input"]{
        font-size: 1.2em;
    }   

    input[type="email"] {
        border: none;
        border-bottom: 2px solid black;
        font-size: 1.2em;
    }

    .consent {
        font-size: 1em; 
    }

    .background { 
       display: none; 
    }

    .background-mobile { 
       display: block; 
    }

    canvas {
        display: none;
    }
}

@media (min-width: 1500px) {
    .background {
        width: 60vw;
        margin: 60px 0 0 250px;

    }   
}

@media (min-width: 500px) and (max-width: 900px) {
    .email-form {
        width: 350px;
        margin: 0 auto 15px auto; 
    }

    main {
        /* height: 128vh; */
    }
    
}





/* ————————————— archive ————————————— */

