/* ————————————— general class ————————————— */

* {
    box-sizing: border-box
}

.hero {
    position: relative;
    
    height: 100vh;  
    overflow: hidden;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

body {
    margin: 0;
    padding: 0;
}

/* ————————————— castom class ————————————— */

.content {
    position: relative;
    z-index: 1;

    color: white;
    text-align: center;

    height: 100%;
    width: 54%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transform: translate(-50%, -50%);
    z-index: -1;
}

/* ————————————— email-form ————————————— */

.email-form {
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 350px;
    gap: 10px;
    padding: 20px;
    margin: 0 0 5vw 0;    
}

.email-form button {
    border: none;
    /* height: auto; */
    width: 100%;
    padding: 10px 20px; 
    border-radius: 100px;
    text-wrap: nowrap;

}

.email-form button:hover {
    border: none;
    background-color: blue;
    color: white;
}

.email-form label {
    text-align: left;
}

.email-form label[for="input"]{
    font-size: 1.25em;
}


input[type="email"] {
    color: white;

    font-size: 1.2em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;


    padding: 3px;
    display: flex;
    width: 100%;
    margin: 6px 0 0 0; 
}

input[type="email"]:focus-visible {
    outline: none;
}

/* input[type="email"]:invalid:not(:placeholder-shown) {
    background-color: red;
} */


/* ————————————— mobile version ————————————— */


@media (max-width: 768px) {
    .content {
        width: auto;
        margin: 0 20px 0 20px;
        color: red;
    }
    
    .email-form {
        width: auto;
        margin: 0 0 15vw 0;  
    }

}






/* ————————————— archive ————————————— */

/*  border-bottom: 2px solid rgb(133, 133, 133); */

/* .email-form div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    width: 100%;
} */
